.inform {
    padding: 110px 30px;
    background-color: rgba(60, 82, 80, 0.5);
    background: url(../../Assets/Images/Information-Hero.jpg) no-repeat center center fixed;
    background-size: cover;
    color: var(--primary-color);
}

.inform .parent-items {
    grid-template-columns: repeat(4,1fr);
}

.card-icon {
    font-size: 72px;
}

.card-number {
    margin: 10px 0;
    font: lighter 60px 'raleway-medium';
}

.counter-card .title-sm {
    text-transform: uppercase;
    color: #071320;
    font-weight: bold;
}

/* Responsive */
@media (max-width: 1024px) {
    .inform {
        padding: 70px 0;
    }

    .inform .parent-items {
        row-gap: 50px;
    }
}