.subherobanner {
  width: 100%;
  margin-bottom: 30px;
  padding: 40px 20px 60px;
  position: relative;
}

.banner-content {
  color: rgb(242, 255, 0);
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
}

.carousel-caption h3 {
  color: green;
}

.banner-btn-success {
  background-color: green;
  border: none;
}

.banner-btn-success:hover {
  background-color: darkgreen;
}
